<app-navbar></app-navbar>

<!-- Barra promocional -->
<app-bar></app-bar>

<div>
  <!-- SWIPER - Productos Populares -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <!-- Aquí iteramos productos populares -->
      <div *ngFor="let producto of productosPopulares" class="swiper-slide">
        <div class="w-100 bg-light d-flex flex-column justify-content-center align-items-center" style="height: 550px;">
          <h2 class="text-center">{{ producto.titulo }}</h2>
          <p class="text-primary fw-bold">¡Producto popular!</p>
          <a class="btn btn-dark mt-3" [routerLink]="['/tienda', producto.slug]">
            Ver producto
          </a>
          
          
          
          
          
        </div>
      </div>

    </div>

    <!-- Flechas navegación Swiper -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- CATEGORÍAS -->
  <div style="background-color: aliceblue;">
    <div class="container py-10">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2>CATEGORIAS</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <a [routerLink]="['/tienda']" [queryParams]="{genero:'Femenino'}">
            <img class="w-100 border-50" src="assets/1.jpg" alt="Prendas Femeninas">
            <span class="fs-6 fw-bold">Prendas <br> Femeninas</span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <a [routerLink]="['/tienda']" [queryParams]="{genero:'Masculino'}">
            <img class="w-100 border-50" src="assets/2.jpg" alt="Prendas Masculinas">
            <span class="fs-6 fw-bold">Prendas <br> Masculinas</span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <a [routerLink]="['/tienda']" [queryParams]="{genero:'Niños'}">
            <img class="w-100 border-50" src="assets/3.jpg" alt="Prendas Niños">
            <span class="fs-6 fw-bold">Prendas <br> Niños</span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <a [routerLink]="['/tienda']" [queryParams]="{genero:'Niñas'}">
            <img class="w-100 border-50" src="assets/4.jpg" alt="Prendas Niñas">
            <span class="fs-6 fw-bold">Prendas <br> Niñas</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
