<app-navbar></app-navbar>

<app-bar></app-bar>

<!-- BREADCRUMB -->
<nav class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb mb-0 fs-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-reset" [routerLink]="['/']">Pagina Inicio</a>
          </li>
          <li class="breadcrumb-item active">
            <span>Tienda</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- CONTENT -->
<section class="pt-7 pb-12">
  <div class="container">

    <!-- FILTROS -->
    <div class="row">
      <div class="col-12">
        <div class="btn-group-justified btn-group-expand-lg mb-10" role="group">
          <!-- Ordenar por -->
          <div class="btn-group dropdown">
            <button class="btn btn-sm w-100 btn-outline-border dropdown-toggle" mat-raised-button [matMenuTriggerFor]="ordenarMenu">
              Orden: <small>{{ ordenarPor }}</small>
            </button>
            <mat-menu #ordenarMenu="matMenu">
              <button mat-menu-item *ngFor="let option of ['Defecto', 'Precio menor', 'Precio mayor', 'A-Z', 'Z-A']" (click)="setOrdenarPor(option)">
                {{ option }}
              </button>
            </mat-menu>
          </div>

          <!-- Género -->
          <div class="btn-group dropdown">
            <button class="btn btn-sm w-100 btn-outline-border dropdown-toggle" mat-raised-button [matMenuTriggerFor]="generoMenu">
              Género: <small>{{ genero }}</small>
            </button>
            <mat-menu #generoMenu="matMenu">
              <button mat-menu-item *ngFor="let genre of ['Todos', 'Femenino', 'Masculino', 'Niñas', 'Niños']" (click)="setFiltro('Genero', genre)">
                {{ genre }}
              </button>
            </mat-menu>
          </div>

          <!-- Categoría -->
          <div class="btn-group dropdown">
            <button class="btn btn-sm w-100 btn-outline-border dropdown-toggle" mat-raised-button [matMenuTriggerFor]="categoriaMenu">
              Categoría: <small>({{ queryCategorias.length }})</small>
            </button>
            <mat-menu #categoriaMenu="matMenu">
              <div *ngIf="categorias.length >= 1">
                <div *ngFor="let item of categorias; let idx = index">
                  <mat-checkbox (change)="seleccion($event, idx)" [checked]="item.seleccion">{{ item.titulo }}</mat-checkbox>
                </div>
              </div>
              <small *ngIf="categorias.length == 0" class="text-muted">Seleccione una categoría</small>
              <button mat-button (click)="setCategoria()">Aplicar</button>
            </mat-menu>
          </div>

          <!-- Precio -->
          <div class="btn-group dropdown">
            <button class="btn btn-sm w-100 btn-outline-border dropdown-toggle" mat-raised-button [matMenuTriggerFor]="precioMenu">
              Precio: <small>{{ precio }}</small>
            </button>
            <mat-menu #precioMenu="matMenu">
              <div *ngFor="let range of ['BOB10.00 - BOB49.00', 'BOB50.00 - BOB99.00', 'BOB100.00 - BOB199.00', 'BOB200.00 a mas']">
                <mat-checkbox class="chk-precio" (change)="selectPrecio($event)" [value]="range" [checked]="precio === range">{{ range }}</mat-checkbox>
              </div>
              <button mat-button (click)="setFiltro('Precio', true)">Aplicar</button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <!-- LISTADO DE PRODUCTOS -->
    <div class="row">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of productos">
        <div class="card mb-7" style="background-color: transparent !important;">
          <div class="badge bg-dark text-white card-badge card-badge-start text-uppercase">
            {{ item.etiqueta }}
          </div>
          <div class="card-img" id="productOneImg">
            <a class="d-block w-100" [routerLink]="['/tienda', item.slug]">
              <img class="card-img-top" [src]="url + '/getProductoImagenes/' + item.portada" alt="..." />
            </a>
          </div>
          <div class="card-body px-0 pb-0">
            <div class="row gx-0">
              <div class="col-12">
                <a class="d-block fw-bold text-body" href="" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  {{ item.titulo }}
                </a>
                <code style="color: #4b4bff;font-size: .8rem !important;">
                  {{ item.clasificacion }} - {{ item.categoria.titulo }}
                </code>
              </div>
              <div class="col-12">
                <div class="fs-7 fw-bold">
                  {{ item.precio | currency: 'BOB' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGINADOR ANGULAR MATERIAL -->
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-4">
        <mat-paginator
          [length]="total"
          [pageSize]="limit"
          [pageSizeOptions]="[5, 10, 20, 50]"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
